{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "CONFIG": true,
    "NODE_ENV": true,
    "define": true,
    "require": true
  },
  "settings": {

  },
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": "off",
    "quotes": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": 0,
    "max-len": ["error", {
      "code": 100,
      "comments": 100,
      "ignoreUrls": true
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [error, { devDependencies: true }]
  }
}